// main font 
$main-font-family: 'Rubik', sans-serif;

// font-size {
    $body: 10px;
    $html: 1.6rem;


// colors
$white-bg: #f2f2f2;
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturaed-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);

// gradients

$light-magneta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);